@use "vars";

.secondary-nav__btn--filter{
    @include vars.button-common;
    @include vars.button-size(medium);
    @include vars.primary-on-dark(medium);
    margin-top: 0;
    border: 0.15rem solid vars.$color-light-blue;
    color: vars.$color-light-blue;
    @include vars.breakpoint(vars.$small-to-large) {
      margin-top: 3rem;
    }
  }
  .challenges {
    &__headline{
      margin-top: 2.5rem;
      margin-bottom: 0rem;
    }

    &__filter{
      display: flex;
      justify-content: center;
      margin: 0rem 0 3rem;
    }
  }
  //mobile-first
  .cards-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 0 1.25rem 2rem;
  
    @include vars.breakpoint(vars.$small-to-large){
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;
        padding: 0 2rem 3rem;
    }
    @include vars.breakpoint(vars.$large-screen-limit){
        grid-template-columns: repeat(3,minmax(0,1fr));
        max-width: vars.$large-screen-max;
        margin: 0 auto 4rem;
    }
    .card{
      position: sticky;
        width: 100%;
        max-width: none;
        min-width: 0;
        height: auto;
        display: flex;
        flex-direction: column;
        z-index: 1;

        &__type {
          width: 2rem;
          position:absolute;
          top: 1rem;
          right: 1rem;
          opacity: 0.8;
        }
  
        &__image{
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 0.5rem 0.5rem 0 0;
        }
        &__description{
            margin: 1rem 1rem 0;
        }
        &__button{
            margin: 1rem;
        }
    }
    .rating-container{
        margin: 0.5rem 1rem 0;
    }
  }
  .body-container--challenges .header{
    height: auto;
    background-image: none;
    background-color: vars.$color-white;
  
    @include vars.breakpoint(vars.$small-to-large){
        height: auto;
    }
  }