@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// Colors used
$color-red: #E3170A;
$color-dark-blue: #011827;
$color-gray: #B6BDB5;
$color-medium-blue: #36769D;
$color-light-blue: #8ACFE5;
$color-white: #FFFFFF;

// Large button size
$large-btn-width: 19.2rem;      // #
$large-btn-height: 4rem;        // Not used directly, only if one want to change only one parameter
$large-btn-fontsize: 1.5rem;    // #
$large-button: ($large-btn-width, $large-btn-height, $large-btn-fontsize);

// Medium button size
$medium-btn-width: 11.3rem;     // #
$medium-btn-height: 2.7rem;     // Not used directly, only if one want to change only one parameter
$medium-btn-fontsize: 1rem;     // #
$medium-button: ($medium-btn-width, $medium-btn-height, $medium-btn-fontsize);

// Responsive breakpoints
$small-screen: 480px;
$medium-screen: 780px; // ??
$large-screen: 1200px;

// Font used in all DOM
$main-font: 'Roboto';

@mixin breakpoint($min-width) {
    @media screen and (min-width: $min-width) {
        @content;
    }
}

@mixin button-common {
    font-weight: bold;
    text-decoration: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

@mixin primary($btnwidth, $btnheight, $btn-fontsize) {
    @include button-common;
    width: $btnwidth;
    height: $btnheight;
    font-size: $btn-fontsize;
    font-family: $main-font;
    color: $color-white;
    background-color: $color-red;
    border: none;
}

@mixin primary-on-dark($btnwidth, $btnheight, $btn-fontsize) {
    @include button-common;
    width: $btnwidth;
    height: $btnheight;
    font-size: $btn-fontsize;
    font-family: $main-font;
    color: $color-light-blue;
    background: none;
    border: 0.15rem solid $color-light-blue;
}

@mixin secondary($btnwidth, $btnheight, $btn-fontsize) {
    @include button-common;
    width: $btnwidth;
    height: $btnheight;
    font-size: $btn-fontsize;
    font-family: $main-font;
    color: $color-dark-blue;
    background-color: $color-light-blue;
    border: none;
}

@mixin link-version {
    border: none;
    background: none;
    text-decoration-line: underline;
    color: $color-medium-blue;
    font-family: $main-font;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.body-container {
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    min-width: 325px;
    margin: auto;
    border: 1px solid lightgray;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        min-width: 480px;
        max-width: 1280px;
    }
}

.header {
    width: 100%;
    height: 26.2rem;
    background-color: $color-dark-blue;
    background-image: url('../resources/hacker-image.png');
    background-position: center bottom;
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: 100%;
    
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        height: 43rem;
        background-size: 100%;
        background-position-y: -190%;
        
    }

    &__logo-head-cont {
        background-color: $color-dark-blue;
        display: flex;
        column-gap: 0.8rem;
        min-height: 8.5rem;
        align-items: center;
        padding: 1.8rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
        align-items: end;
        column-gap: 1.6rem;
        }
    }

    &__logo {
        height: 5rem;
    }

    &__headline {
        // background-color: chartreuse;
        max-width: 5rem;
        font-family: $main-font;
        font-size: 1.5rem;
        line-height: 1.7rem;
        color: $color-white;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
        max-width: fit-content;
        font-size: 2.5rem;
        line-height: 3rem;
        }
    }
}

.navigation {
    display: none;
    width: 0;
    height: 0;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        $top-padding: 2rem;
        display: block;
        padding-top: $top-padding;
        width: 100%;
        height: calc($top-padding + 3rem);
        background-color: $color-dark-blue;
    }

    &__list {
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            width: 72%;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            list-style-type: none;
            font-family: $main-font;
            font-size: 1.5rem;
            font-weight: 600;
        }
    }

    &__item {
        color: $color-white;
        cursor: pointer;
        &:last-child {
                color: $color-light-blue;
        } 
    }
}
.main-content {
    // background-color: beige;
    position: relative;
    display: flex;
    flex-direction: column;
}

.secondary-nav{
    width: 100%;
    height: 10rem;
    display:flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 0.5rem;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        column-gap: 1.5rem;
    }

    &__btn {
        &:first-child {
            @include link-version;
            // @include breakpoint($medium-screen) {}
            @include breakpoint($large-screen) {
                @include primary($large-button...);
            }
        }

        &:last-child {
           @include secondary($large-button...);
        }
    }
}

.reviews-n-challenges {
    padding: 5rem 1.3rem 0;
    width: 100%;
    margin: auto;
}

.reviews {
    // background-color: darkorange;
    // 
    margin: auto;
    display: flex;
    overflow-x: auto;
    column-gap: 3.5rem;
    height: fit-content;
    padding: 2.5rem 0 7rem;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        max-width: 80%;
        min-width: fit-content;
        // overflow: hidden;
        column-gap: 1.25rem;
    }

    &__review-item {
        // background-color: coral;
        flex-shrink: 0;
        display: grid;
        grid-template-areas: 
        'pic txt' 
        'pic info';
        grid-template-columns: 4.6rem auto;
        grid-template-rows: auto auto;
        column-gap: 0.5rem;
        row-gap: 0.5rem;
        font-family: $main-font;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            max-width: 32rem;
           grid-template-columns: 6.2rem auto;
            grid-template-rows: auto auto;
            row-gap: 1rem;
        }
    }

    &__reviewer-image {
        grid-area: pic;
        width: 4.6rem;
        padding-top: 0.2rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            width: 6.2rem;
        }
    }

    &__review-txt {
        grid-area: txt;
        font-size: 1.5rem;
        font-style: italic;
        max-width: 20rem;
        width: 66vw;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            max-width: 26rem;
            text-align: left;
        }
    }

    &__reviewer-data {
        grid-area: info;
        // width: 20rem;
        width: 66vw;
        font-size: 1.1rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            max-width: 18rem;
            text-align: left;
        }
    }
}

.challenges {
    height: fit-content;
    padding: 1rem;
    &__headline {
        font-family: $main-font;
        font-size: 2rem;
        font-weight: 400;
        text-align: center;
        padding-bottom: 3rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            font-size: 2.2rem;
            padding-bottom: 5rem;
        }
    }
}

.card-container {
    width: fit-content;
    margin-left: 1.5rem;
    display: flex;
    overflow-x: auto;
    column-gap: 2rem;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        margin: auto;
        padding: 0 0.2rem;
    }
}

.card {
    flex-shrink: 0;
    margin-bottom: 0.5rem;
    padding: 0 1.3rem 1rem;
    background-image: url('../resources/hacker-image.png');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    max-width: 23rem;
    width: 76vw;
    min-width: 17rem;
    height: 28rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.6rem rgba($color: black, $alpha: 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &__title {
        font-family: $main-font;
        font-size: 1.8rem;
        font-weight: 400;
    }

    &__room-participants {
        font-family: $main-font;
        font-weight: 400;
        font-size: 0.9rem;
    }

    &__description{
        font-family: $main-font;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1.25rem;
        margin-bottom: 1.8rem;
    }

    &__button {
        @include primary($medium-button...);
        align-self: flex-end;
    }
}

.rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 2.5rem;
}

.rating {
    letter-spacing: 0.5rem;
}

.information {
    // background-color: greenyellow;
    margin-top: 2.2rem;
    width: 100%;

    &__story {
        width: 100%;
        height: fit-content;
        background-color: $color-dark-blue;
        padding: 6rem 1.3rem;
        text-align: center;
    }

    &__story-text {
        color: $color-white;
        font-family: $main-font;
        font-size: 1.7rem;
        text-align: center;
        letter-spacing: 1%;
        padding-bottom: 3rem;
        max-width: 38rem;
        margin: auto;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            
        }   
    }

    &__btn--primary-on-dark {
        @include primary-on-dark($large-button...);
        margin-top: 0.5rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            margin-top: -0.5rem;
            margin-bottom: 3rem;
        }
           
    }
}

.booking {
    // background-color: lightskyblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    // flex: 50%;
    font-family: $main-font;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        flex-direction: row;
        &:last-child {
            flex-direction: row-reverse;
            justify-content: start;
        }        
    } 
    
    &__info-image {
        width: 100%;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            flex: 50%;
        }
    }

    &__info-container {
        padding: 2rem 1.3rem 4rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        // @include breakpoint($medium-screen) {}
        @include breakpoint($large-screen) {
            flex: 50%;
            padding: 2rem 7rem 4rem;
        }
    }

    &__header {
        font-size: 2rem;
    }

    &__info-txt {
        font-size: 1.5rem;
    }

    &__btn {
        margin-top: 2rem;
        @include primary($large-button...);
    } 
}

.footer {
    background-color: $color-dark-blue;
    margin-top: 2rem;
    gap: 2rem;
    padding: 4rem 1.3rem;
    color: $color-white;
    font-family: $main-font;
    // @include breakpoint($medium-screen) {}
    @include breakpoint($large-screen) {
        margin-top: 11rem;
        display: flex;
        flex: 100%;
        padding: 9rem 7rem;
    }
}

.info {
    // @include breakpoint($medium-screen) {}   
    @include breakpoint($large-screen) {
        // flex-grow: 5;
        flex: 62%;
    }

    &__header {
        font-size: 1.15rem;
        font-weight: bold;
        margin-bottom: 0.5rem;

    }

    &__txt {
        font-size: 1.15rem;
        line-height: 1.3rem;
        margin-bottom: 2rem;
        // @include breakpoint($medium-screen) {}   
        @include breakpoint($large-screen) {
            width: 70%;
        }
    }
}

.site-map {
    font-size: 1.15rem;
    font-weight: bold;

    &:nth-child(2) {
        // @include breakpoint($medium-screen) {} 
        @include breakpoint($large-screen) {
            flex: 18%;
        }    
    }

    &:last-child {
        // @include breakpoint($medium-screen) {} 
        @include breakpoint($large-screen) {
            flex: 20%;
        }
    }
      
    
    &__list {
        margin-top: 0.4rem;
        margin-bottom: 1.5rem;
    }

    &__item {
        list-style-type: none;
        font-weight: normal;
        
        &--link {
            text-decoration: none;
            color: $color-white;
            
        }
    }
}
